@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600&family=Roboto:wght@300;400;500&family=Lora:wght@400;500;600&family=Oswald:wght@400;500&family=Quicksand:wght@300;400;500&display=swap');
body {
  font-family: 'Poppins', 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', 'Oswald', sans-serif;
}

h4, h5 {
  font-family: 'Lora', 'Playfair Display', serif;
}

p, li {
  font-family: 'Poppins', 'Roboto', sans-serif;
}

button, label {
  font-family: 'Roboto', 'Quicksand', sans-serif;
}

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));
@import "tailwindcss";

* {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}

body,
button,
select,
textarea,
input {
  font-family: "Montserrat", sans-serif;
}

:root {
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
}


.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@layer utilities {
  @media (min-width: 768px) and (max-width: 1023px) {
    .md\:_custom-sidebar {
      width: 80px !important;
      min-width: 80px !important;
    }
  }
}
@layer utilities {
  @media (min-width: 768px) and (max-width: 1023px) {
    .md\:_w-142 {
      width: 142px !important;
    }
  }
}

@layer utilities {
  @media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .ipadpro\:top-25p {
      top: 25% !important;
    }
  }
}
@layer utilities {
  @media (min-width: 768px) and (max-width: 1023px) {
    .md\:reduced-height {
      height: 300px !important; /* Change to your desired height */
    }
  }
}

@layer utilities {
  @media (min-width: 1900px) and (max-width: 3000px) {
    .react-chatbot-kit-chat-container {
      height:410px!important;
      width: 262px!important;
    }

  }}
/* Custom styles for the carousel */
.slick-dots li button:before {
  color: #cbd5e0 !important; /* gray-300 */
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #0f7bab !important; /* your primary color */
}

.slick-slide > div {
  height: 100%;
}
.custom-datepicker-popper{
  left: 2 0% !important;
  top: 20% !important;
  transform: translate(0, 0) !important;
}
@media only screen and (max-width: 650px) {
  .custom-datepicker-popper {
    left: 9% !important;

  }}
/* Base container styles */
.responsive-card-container {
  width: 100%;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  padding: 1rem;
  position: absolute;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  top: 10vh; /* Mobile default */
  transition: top 0.3s ease; /* Smooth transitions */
}

/* Breakpoint-specific top positions */
.top-700-767 { top: 19vh !important; }
.top-768-799 { top: 10vh !important; }
.top-800-899 { top: 21vh !important; }
.top-900-999 { top: 22vh !important; }
.top-1000-1023 { top: 28vh !important; }
.top-1024-1299 { top: 18vh !important; }
.top-1300 { top: 28vh !important; }

/* Width adjustments */
@media (min-width: 640px) {
  .responsive-card-container {
    width: 50%;
    left: auto;
    right: auto;
    transform: none;
  }
}
@media only screen and (max-width: 668px) {
  .timePass {
    background-color: white !important; /* Set background to white */
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .react-datepicker {
margin-left: -57px !important; 
  }}

  @media only screen and (min-width: 850px) and (max-width: 1024px) {
    .abcd {
      margin-top: -32px !important;
    }}
  
    @media only screen and (min-width: 1025px) {
      .abcd {
        margin-top: -5% !important;
      }
    }
    
    @media only screen and (min-width: 831px) and (max-width: 850px) {
      .abcd {
        margin-top: -2vw !important;
      }
    }
    
    @media only screen and (min-width: 690px) and (max-width: 830px) {
      .abcd {
        margin-top: -81px !important;
      }}
@media (min-width: 768px) {
  .responsive-card-container {
    width: 25%;
    background-color: #ecd8ab;
    right: 6vw;
    left: auto;
    box-shadow: rgba(0,0,0,0.25) 0px 54px 55px, 
                rgba(0,0,0,0.12) 0px -12px 30px, 
                rgba(0,0,0,0.12) 0px 4px 6px, 
                rgba(0,0,0,0.17) 0px 12px 13px, 
                rgba(0,0,0,0.09) 0px -3px 5px;
  }
}

/* Special cases */
.top-tab {
  top: 10vh !important;
  padding: 0.25rem !important;
}

.top-zero {
  top: 15vh !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



.peace {
  cursor: pointer !important;
}
.ignore{
  cursor:not-allowed !important;
}
/* Target each suggestion */
.pac-item {
  padding: 12px !important; /* Increase padding */
  font-size: 12px !important; /* Adjust font size */
  color: #333 !important; /* Change text color */
  border-bottom: 1px solid #e0e0e0 !important; /* Add border */
}

/* Hide the Powered by Google text */
.pac-container::after {
  display: none !important;
}

/* Calendar container */
.react-datepicker {
  border-radius: 25px !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border: none !important;
  padding: 12px;
}

/* Calendar Header */
.react-datepicker__header {
  background-color: white !important;
  border-bottom: none !important;
}

/* Month and Year */
.react-datepicker__current-month {
  font-size: 14px !important;
  font-weight: 500 !important;
  color: #656565 !important;
  font-family: "Montserrat", sans-serif;
}

.react-datepicker__header__dropdown {
  display: none; /* Hide dropdown */
}

/* Override the Google autocomplete dropdown background */
.pac-container {
  background-color: #fdeeca !important;
  border-radius: 8px !important;
}
@media only screen and (max-width: 650px) {
  .pac-container {
    background-color: #ffff !important;
    border-radius: 8px !important;
  }
}

/* Optional: change text color inside suggestions */
.pac-item {
  color: #000000 !important;
}

/* Optional: change highlight on hover */
.pac-item:hover {
  background-color: #ecd8ab !important;
}

.react-datepicker__disabled {
  cursor: not-allowed !important;
}
/* Week Days */
.react-datepicker__day-names {
  color: black;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

/* Day Styles */
.react-datepicker__day {
  color: #333;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

/* Today's Date */
.react-datepicker__day--today {
  background-color: transparent !important; /* Removes default highlight */
  color: #0f7bab !important; /* Ensures it matches the text color */
}

/* Disable Past Dates */
.react-datepicker__day--disabled {
  color: #ccc !important;
}

/* Navigation Arrows */
.react-datepicker__navigation {
  width: 20px;
  height: 20px;
  transform: translateY(40%);
}

/* Ensure the selected date is only styled within the active month */
.react-datepicker__day--selected:not(.react-datepicker__day--outside-month) {
  background-color: #9cc5d6 !important;
  color: #fff !important;
  border-radius: 100% !important;
  font-weight: 500 !important;
}

/* Apply border-radius to date cells on hover */
.react-datepicker__day:hover {
  border-radius: 100% !important;
  background-color: #e0f2f1 !important; /* Optional: Light hover effect */
  transition: background-color 0.2s ease-in-out;
}

.react-datepicker__triangle {
  display: none !important;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

.chatbot-wrapper {
  &.hidden {
    display: none;
  }
}


.react-chatbot-kit-chat-message-container {
  background-color: rgba(255, 255, 255, 1);
  padding: 10px !important;
  height: 411px !important;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.react-chatbot-kit-chat-input {
  background-color: #eee;
  outline: none;
  height: auto;
}

.react-chatbot-kit-chat-input-form {
  height: 36px;
  z-index: 100;
}

.react-chatbot-kit-chat-btn-send {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  height: auto;
  background-color: #0f2454 !important;
  border-top: 1px solid #d8d8d8;
}

.react-chatbot-kit-chat-bot-message {
  padding: 10px !important;
  background-color: rgba(245, 245, 245, 1) !important;
  color: black !important;
  font-size: 13px !important;
  width: 85% !important;
  margin-left: 4px !important;
}

.react-chatbot-kit-user-chat-message {
  border-top-right-radius: 0;
  font-size: 13px;
}

.react-chatbot-kit-chat-inner-container {
  border-radius: 0px;
}

.react-chatbot-kit-chat-bot-avatar-container,
.react-chatbot-kit-user-avatar-container {
  display: none !important;
}

.react-chatbot-kit-user-chat-message-arrow,
.react-chatbot-kit-chat-bot-message-arrow {
  display: none;
}

.react-chatbot-kit-chat-bot-message-container,
.react-chatbot-kit-user-chat-message-container {
  margin: 10px 0px;
  height: auto;
}

.loader {
  border: 8px solid #f3f3f3; /* Light gray background */
  border-top: 8px solid #3498db; /* Blue color for the spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 100px auto; /* Center the loader */
}

/* Animation for spinning */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


